@CHARSET "UTF-8";
body {
/* 	background: url("./img/background.jpg") no-repeat center center fixed; */
	background: url("/image/background.jpg") no-repeat fixed;
    background-size: 100% auto;
	background-size: cover;
	/*font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;*/
}

h2 {
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.4em;
	line-height: 2.8em;
}

.header {
/* 	border: 1px solid white; */
	width: 400px;
	height: 200px;
	margin: 10% auto 0 auto;
	/*background-color: rgba(0,0,0,0.3);*/
}

#title img{
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
	color: white;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

}

/*#subtitle{
	font-family: 'Roboto Slab', serif;
	font-size: 1.4em;
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
	text-align: center;
	margin-left: 10%;
	margin-top: 10px;
}
*/
#signUp {
	width: 100px;
	height: 40px;
	border: 1px solid white;
	border-radius: 8px;
	font-size: 17px;
	color: white;
	text-align: center;
	margin-left: 40%;
	margin-top: 17%;
	background-color: rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	padding-top: 9px;
	float: left;
	cursor: pointer;
}

#login {
	width: 100px;
	height: 40px;
	border: 1px solid white;
	border-radius: 8px;
	font-size: 17px;
	color: white;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	padding-top: 9px;
	margin-top: 17%;
	margin-left: 4%;
	float: left;
	cursor: pointer;
}

#signUp:hover, #login:hover , #make:hover, #logout:hover{
	background: rgba(0,0,0,0.5);
	transition: 0.8s;
}

#make{
	width: 100px;
	height: 40px;
	border: 1px solid white;
	border-radius: 8px;
	font-size: 17px;
	color: white;
	text-align: center;
	margin-left: 4%;
	margin-top: 17%;
	background-color: rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	padding-top: 9px;
	float: left;
}

#logout{
	width: 100px;
	height: 40px;
	border: 1px solid white;
	border-radius: 8px;
	font-size: 17px;
	color: white;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	padding-top: 9px;
	margin-top: 17%;
	margin-left: 42%;
	float: left;
	
}

.SignUp-box {
	background-color: white;
	width: 340px;
	height: 460px;
	margin: -8% auto 0 35%;
	position: absolute;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
	text-align: center;
	display: none;
}

.login-box {
	background-color: white;
	width: 340px;
	height: 400px;
	margin: -8% auto 0 35%;
	position: absolute;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
	text-align: center;
	display: none;
}


.login-box .box-header, .SignUp-box .box-header {
	background-color: #665851;
	border-radius: 5px 5px 0 0;
	height: 13%;
	margin-bottom: 40px;
	margin-top: -19px;
}


.login-box label, .SignUp-box label {
	font-weight: 700;
	font-size: .8em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}


.login-box input, .SignUp-box input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: #888;
}


.login-box input:focus, .SignUp-box input:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;
}


.login-box button, .SignUp-box button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #665851;
	cursor: pointer;
	outline: none;
}



.login-box button:hover, SignUp-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}


a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #aeaeae;
}

p.small {
	font-size: 0.8em;
	margin: 20px 0 0;
}

.selected {
	color: #665851 !important;
	transition: 0.5s;
}

/* Animation Delay */
#logo {
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 2s;
}

.login-box,  SignUp-box{
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 1s;
}

.control-group{
	
	margin-left:2%;
	position:relative;
	text-align:center;
	color:white;
	text-shadow: 0 0 10px black;
	
}