body {
	background: url("/image/background.jpg") no-repeat fixed;
    background-size: 100% auto;
	background-size: cover;
	width: 100%;
}

.header{

	width: 95%;
	height: 60px;
	border-bottom:1px solid #874A3E;
	margin: 20px 2% 0 2%;

}

.header li {

	display: inline-block;
	float: right;
	margin: 17px;
	font-size: 20px;
	color: rgba(91,88,84,0.7);
	cursor: pointer;
}

.header li:hover {

	color: rgba(91,88,84,1);
	font-weight: bold;
/*	transition: 0.8s;*/
}

.empty {

	width: 100%;
	height: 50px;

}


.user1_area {

width: 20%;
height: 500px;
/*border:1px solid black;*/
box-sizing:border-box;
margin-left: 5%;
float:left;
box-shadow: 0 0 10px #777777;
}

	.user1_area .user1_avartar {

	width: 100%;
	height: 60%;
	/*border:1px solid black;*/
	background: url("/image/avartar1.png") no-repeat center center;
	display: block;
	}

		.user1_area .user1_ready_button {

		width: 80%;
		height: 50px;
		border: 3px solid;
		border-color: rgba(91,88,84,0.3);
		box-sizing:border-box;
		margin: 10px auto 0 auto;
		line-height: 45px;
		text-align: center;
		font-size: 25px;
		color: rgba(91,88,84,0.4);
		cursor: pointer;
		}

		.user1_area .user1_ready_button:hover, .user1_ready_button_clicked {

			background-color: rgba(82,167,178,0.7);
			width: 80%;
			height: 50px;
			color: white;
			line-height: 45px;
			text-align: center;
			font-size: 25px;
			border:none;
			padding-top: 3px;
			/*transition: 0.3s;*/
		}

		.clicked 
		{
			background-color: rgba(82,167,178,0.7);
			width: 80%;
			height: 50px;
			color: white;
			line-height: 45px;
			text-align: center;
			font-size: 25px;
			border:none;
			padding-top: 3px;	
		}

		.user1_area .user1_info{

			width: 80%;
			height: 20%;
			border: 3px solid;
			border-color: rgba(91,88,84,0.3);
			box-sizing:border-box;
			color: rgba(91,88,84,0.7);
			margin: 10px auto 0 auto;
			line-height: 90px;
			font-size: 25px;
			text-align: center;

		}

.middle_area_box {

width: 40%;
height: 500px;
/*border:1px solid black;*/
box-sizing:border-box;
float:left;
margin-left: 5%;
}

	.middle_area_box .chat_box {
	width: 100%;
	height: 60%;
	border: 3px solid;
	border-color: rgba(91,88,84,0.3);
	background: url("/image/chatImage.png") no-repeat 63% 20%;
	}

	.middle_area_box .start_button {

		width: 40%;
		height: 15%;
		margin: 30px auto 0 auto;
		padding-left: 5px;
		line-height: 80px;
		text-align: center;
		background-color: rgba(139,63,60,0.9);
		color: white;
		font-size: 40px;
		letter-spacing: 5px;
		text-align: center;
		display: none;
		cursor: pointer;

	}

	.middle_area_box .start_button:hover {

		width: 50%;
		height: 20%;
		margin: 30px auto 0 auto;
		padding-left: 5px;
		line-height: 100px;
		text-align: center;
		background-color: rgba(139,63,60,0.9);
		color: white;
		font-size: 50px;
		letter-spacing: 5px;
		text-align: center;

	}

.user2_area {

width: 20%;
height: 500px;
box-sizing:border-box;
margin-right: 5%;
float: right;
box-shadow: 0 0 10px #777777;
}

	.user2_area .user2_avartar {

	width: 100%;
	height: 60%;
	/*	border:1px solid black;
	box-sizing:border-box;*/
	background: url("/image/avartar2.png") no-repeat center center;
	/*   background-size: 100% auto;
	background-size: cover;*/
	}

		.user2_area .user2_ready_button {

		width: 80%;
		height: 50px;
		border: 3px solid;
		border-color: rgba(91,88,84,0.3);
		box-sizing:border-box;
		margin: 10px auto 0 auto;
		line-height: 45px;
		text-align: center;
		font-size: 25px;
		color: rgba(91,88,84,0.4);
		cursor: pointer;
		
		}

		.user2_area .user2_ready_button:hover {

			background-color: rgba(82,167,178,0.7);
			width: 80%;
			height: 50px;
			color: white;
			line-height: 45px;
			text-align: center;
			font-size: 25px;
			border:none;
			padding-top: 3px;
		}

			.user2_area .user2_info{

			width: 80%;
			height: 20%;
			border: 3px solid;
			border-color: rgba(91,88,84,0.3);
			box-sizing:border-box;
			color: rgba(91,88,84,0.7);
			margin: 10px auto 0 auto;
			line-height: 90px;
			font-size: 25px;
			text-align: center;

		}

